@import 'mixins.scss';

.box {
    position: relative;
    z-index: 1;
    overflow: hidden;

    &::before {
        content: "";
        display: block;
        padding-bottom: 140%;
    }
    &--min {
        &::before {
            padding-bottom: 90%;
        }
    }
    &__crop {
        display: inline-block;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .3s linear;
        &:hover {
            transform: scale(1.1, 1.1);
        }
    }

    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background-color: rgba(255, 255, 255, 0.5);
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .2s linear;
        @include center();
        &__text {
            font-size: 1.6rem;
        }
    }
}

.box:hover .overlay {
    height: 20%;
}

.main {
    padding: 5rem 0;

    .title {
        text-align: center;


        &__head {
            font-size: 4.8rem;
            line-height: 6.8rem;
        }

        &__desc {
            font-size: 1.8rem;
            line-height: 3.4rem;
            font-weight: 300;
            padding: 0 5rem;
        }
    }

    .box-entry {
        .entry {
            margin: 2rem 0;
            text-align: center;

            &__desc {
                font-size: 1.8rem;
                line-height: 3.4rem;
                padding: 0 10rem;
            }
        }
    }

    .box-product {
        position: relative;
        z-index: 0;
        .special {
            align-items: center;
            margin: 4rem 0;
            &--center {
                text-align: center;
            }
            &__product {
                text-align: right;
            }

            &__link {
                position: relative;
                font-size: 1.8rem;
                border-bottom: 1px solid rgb(21, 21, 21);
            }

            &__title {
                font-size: 4rem;
                margin: 0;
            }
        }

        .product {
            margin: 3rem 0;
            position: relative;
            &__sale {
                position: absolute;
                top: 1rem;
                right: 2rem;
                z-index: 99;
                padding: 0.5rem 1rem;
                border: 1px solid rgba(21, 21, 21, 0.6);
            }
            &__title {
                display: inline-block;
                font-size: 1.4rem;
                line-height: inherit;
                font-weight: 600;
                padding: 1rem 0;
                transition: all 0.3s linear;
                text-transform: uppercase;
                height: 60px;
                &:hover {
                    color: rgba(34, 34, 34, 0.7);
                }
            }

            &__desc {
                font-size: 1.6rem;
            }
            &__price {
                font-size: 1.2rem;
                text-decoration: line-through;
            }
            &__hidden {
                float: right;
                font-size: 1.6rem;
                visibility: hidden;
                cursor: pointer;
            }
        }
        .category {
            position: relative;
            .row {
                margin: 0;
                .col-3 {
                    padding: 0;
                }
            }
            &__title {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 50;
                font-size: 2rem;
                font-weight: 500;
                text-shadow: 2px 2px 4px #000000;
                color: rgba(255, 255, 255, 1);
                text-align: center;
            }
        }
    }
}
@media (max-width: 768px) {
    .main .title__head {
        font-size: 2.4rem;
        line-height: 3.4rem;
    }
    .main .title__desc {
        padding: 0 1rem;
        font-size: 1.3rem;
        line-height: 1.7rem;
    }
    .main .box-entry .entry__desc {
        padding: 0 2rem;
    }
    .main .box-entry .entry__desc {
        font-size: 1.3rem;
        line-height: 1.7rem;
    }
    .main .box-product .special__title {
        font-size: 2rem;
    }
    .main .box-product .special__link {
        font-size: 1.3rem;
    }
    .main .category__title {
        display: none;
    }
    .main .box-product .product .product__hidden {
        visibility: visible;
    }
    .main .box-product .product .product__title {
        font-size: 1.2rem;
    }
    .box .overlay {
        display: none;
    }
}
